<div class="container col-md-12">
  <div class="section container-fluid" [ngStyle]="{'margin-top' : '4.3rem'}">
    <span class="span">Por que você deveria fazer uma consulta com o Nutri?</span>
    <h2 class="h2">Alguns dos meus serviços que podem melhorar sua qualidade de vida</h2>
  </div>

  <div class="section container-fluid lista-beneficios row apart">
      <div class="logo-beneficios col-lg-4">
        <img class="svg-hiper" src="assets/img/hipertrofia.svg" alt="Hipertrofia" />
        <h3>Hipertrofia</h3>
        <p>Hipertrofia é o processo de aumento do tamanho das células musculares devido ao treinamento de resistência, resultando em maior força e volume muscular.</p>
      </div>
      <div class="logo-beneficios col-lg-4">
        <img class="svg-hiper" src="assets/img/emagrecimento.svg" alt="Emagrascimento" />
        <h3>Emagrecimento</h3>
        <p>Emagrecimento refere-se à perda de peso corporal por meio de uma combinação de dieta, exercício físico e mudanças no estilo de vida, visando alcançar um peso saudável.</p>
      </div>
      <div class="logo-beneficios col-lg-4">
        <img class="svg-hiper" src="assets/img/reeducacao.svg" alt="Reeducação Alimentar" />
        <h3>Reeducação alimentar</h3>
        <p>A reeducação alimentar envolve a adoção de hábitos saudáveis de alimentação, priorizando escolhas equilibradas e conscientes para melhorar a saúde e o bem-estar.</p>
      </div>
    <div class="logo-beneficios col-lg-4">
      <img class="svg-hiper" src="assets/img/diabete.svg" alt="Diabete" />
      <h3>Controle da glicemia / Hipertensão</h3>
      <p>O controle da glicemia diz respeito à regulação dos níveis de açúcar no sangue, muitas vezes associado ao gerenciamento da diabetes por meio de dieta, medicamentos e monitoramento regular.</p>
    </div>
    <div class="logo-beneficios col-lg-4">
      <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" width="48" height="48" rx="24" fill="#B78E36"></rect>
        <path d="M25.5 14L15.5 26H24.5L23.5 34L33.5 22H24.5L25.5 14Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <h3>Pacientes bariátricos</h3>
      <p>Um paciente bariátrico é alguém que se submeteu a uma cirurgia bariátrica, um procedimento para tratar a obesidade, visando a redução de peso e possíveis melhorias nas condições de saúde relacionadas ao excesso de peso.</p>
    </div>
    <div class="logo-beneficios col-lg-4">
      <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" width="48" height="48" rx="24" fill="#B78E36"></rect>
        <path d="M25.5 14L15.5 26H24.5L23.5 34L33.5 22H24.5L25.5 14Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <h3>Hipertenção</h3>
      <p>A hipertensão é uma condição médica em que a pressão arterial nas artérias está constantemente elevada, aumentando o risco de problemas cardiovasculares.</p>
    </div>
    </div>
</div>
