<div class="section">
  <div class="container col-md-12">
    <div class="container-fluid">
      <span class="span">Por que você deveria fazer uma consulta com o Nutri?</span>
      <h2 class="h2">Alguns dos meus serviços que podem melhorar sua qualidade de vida</h2>
    </div>

    <div class="lista-beneficios row apart">
      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/hipertrofia.svg" alt="Hipertrofia" />
        </div>
        <h3>Hipertrofia</h3>
        <p>Hipertrofia é o processo de aumento do tamanho das células musculares devido ao treinamento de resistência, resultando em maior força e volume muscular.</p>
      </div>

      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/emagrecimento.svg" alt="Emagrascimento" />
        </div>
        <h3>Emagrecimento</h3>
        <p>Emagrecimento refere-se à perda de peso corporal por meio de uma combinação de dieta, exercício físico e mudanças no estilo de vida, visando alcançar um peso saudável.</p>
      </div>

      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/reeducacao.svg" alt="Reeducação Alimentar" />
        </div>
        <h3>Reeducação alimentar</h3>
        <p>A reeducação alimentar envolve a adoção de hábitos saudáveis de alimentação, priorizando escolhas equilibradas e conscientes para melhorar a saúde e o bem-estar.</p>
      </div>

      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/diabete.svg" alt="Diabete" />
        </div>
        <h3>Controle da glicemia / Hipertensão</h3>
        <p>O controle da glicemia diz respeito à regulação dos níveis de açúcar no sangue, muitas vezes associado ao gerenciamento da diabetes por meio de dieta, medicamentos e monitoramento regular.</p>
      </div>

      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/bariatrico.svg" alt="Bariatrico" />
        </div>
        <h3>Pacientes bariátricos</h3>
        <p>Um paciente bariátrico é alguém que se submeteu a uma cirurgia bariátrica, um procedimento para tratar a obesidade, visando a redução de peso e possíveis melhorias nas condições de saúde relacionadas ao excesso de peso.</p>
      </div>

      <div class="logo-beneficios col-lg-4">
        <div>
          <img class="svg-hiper circle" src="assets/img/circle.svg" alt="circle" />
          <img class="svg-hiper icon" src="assets/img/hipertensao.svg" alt="Hipertenção" />
        </div>

        <h3>Hipertenção</h3>
        <p>A hipertensão é uma condição médica em que a pressão arterial nas artérias está constantemente elevada, aumentando o risco de problemas cardiovasculares.</p>
      </div>
    </div>
  </div>
</div>
