<div class="container col-md-12">
  <div class="container-fluid">
    <div class="logo-parceiro col-lg-4">
        <img class="logo-parceiro" [ngStyle]="{'height' : '160px', 'margin-left' : '0'}" src="/assets/img/logo-corte.jpg" alt="corte" style="margin-left: 100px;">
        <h2 class="h2">
          Corte e Resenha
        </h2>
      <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolor necessitatibus iure explicabo! Quos, voluptatibus animi! Molestiae exercitationem aperiam adipisci ipsum sint vero doloremque. Sit dolore accusantium sunt voluptatibus mollitia?</p>
      <button type="button" class="btn btn-secondary botao-mid">Saiba Mais!</button>
    </div>

    <div class="logo-parceiro col-lg-4">
      <img class="logo-parceiro" src="/assets/img/logo-mara.png" alt="mara">
      <h2 class="h2">
        Estéticas Mara
      </h2>
      <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolor necessitatibus iure explicabo! Quos, voluptatibus animi! Molestiae exercitationem aperiam adipisci ipsum sint vero doloremque. Sit dolore accusantium sunt voluptatibus mollitia?</p>
      <button type="button" class="btn btn-secondary botao-mid">Saiba Mais!</button>
    </div>

    <div class="logo-parceiro col-lg-4">
      <img class="logo-parceiro" src="/assets/img/logo-rjjc.jpg" alt="rjjc">
      <h2 class="h2">
        Jiu-Jutsu Clube
      </h2>
      <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolor necessitatibus iure explicabo! Quos, voluptatibus animi! Molestiae exercitationem aperiam adipisci ipsum sint vero doloremque. Sit dolore accusantium sunt voluptatibus mollitia?</p>
      <button type="button" class="btn btn-secondary botao-mid">Saiba Mais!</button>
    </div>

  </div>
</div>
