.bg-image {
  background-image: url('src/assets/img/perfil-s - editado.jpeg');
  background-repeat: round;
  background-attachment: fixed;
  opacit: 0.95;
}

.container{
  display: flex;
}

.perfil {
  max-width:100%;
  height:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.botao-mid {
  width: fit-content;
  text-color: black;
  background: #E5B244;
  border-radius: 8px;
  border: solid 1px #000000;
  padding: 10px 45px;
  text-decoration: none;
  cursor: pointer;
}
