<body class="bg-image">
<div class="section">
  <app-navbar></app-navbar>
  <div class="container col-md-12">
    <div class="col-md-6">
      <div
        [ngStyle]="{'color' : 'whitesmoke', 'font-size' : '47px', 'font-weight' : '700' , 'letter-spacing' : '0.2px', '-webkit-text-stroke-color' : '#000', '-webkit-text-stroke-width' : '0.5px'}"
        class="col-md-6">O SEU nutricionista!<br>
        <span
          [ngStyle]="{'color' : '#E5B244', '-webkit-text-stroke-width' : '0.5px', '-webkit-text-stroke-color' : '#000'}">Ajudarei no processo de mudança de seus hábitos.</span>
      </div>
      <a class="btn botao-mid" href="https://api.whatsapp.com/send?1=pt_BR&phone=5521981484971" target="_blank">Vamos
        melhorar esse estilo de vida!</a>
    </div>
    <div class="col-md-6">
      <div></div>
    </div>
  </div>
  <app-beneficios></app-beneficios>
  <app-parcerias></app-parcerias>
  <app-resultados></app-resultados>
  <app-footer></app-footer>
</div>
</body>

