<div class="section">
  <div class="container col-md-12">
    <div class="container-fluid">
      <div class="logo-parceiro col-lg-4">
        <img [ngStyle]="{'height' : '160px', 'margin-left' : '0'}" class="logo-parceiro" src="assets/img/logo-corte.jpg" alt="corte" style="margin-left: 100px;">
        <h2 class="h2">
          Corte e Resenha
        </h2>
        <p class="p">Nossa barbearia oferece serviços de corte de cabelo e barba com estilo e precisão. Com uma atmosfera acolhedora e profissionais experientes, garantimos um visual impecável para nossos clientes. Além disso, proporcionamos tratamentos faciais e produtos de cuidados masculinos para uma experiência completa de cuidado pessoal.</p>
        <a href="https://www.instagram.com/corteeresenha/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

      <div class="logo-parceiro col-lg-4">
        <img class="logo-parceiro" src="assets/img/logo-mara.png" alt="mara">
        <h2 class="h2">
          Estéticas Mara
        </h2>
        <p class="p">Na nossa clínica de estética, oferecemos uma variedade de tratamentos personalizados para realçar sua beleza natural. Com uma equipe de profissionais qualificados, proporcionamos serviços de cuidados com a pele, tratamentos anti-envelhecimento, procedimentos de rejuvenescimento e terapias relaxantes, tudo para que você se sinta revigorado e confiante.</p>
        <a href="https://www.instagram.com/esteticasmara/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

      <div class="logo-parceiro col-lg-4">
        <img class="logo-parceiro" src="assets/img/logo-rjjc.jpg" alt="rjjc">
        <h2 class="h2">
          Jiu-Jutsu Clube
        </h2>
        <p class="p">Bem-vindo à nossa academia de Jiu Jitsu, onde você pode aprender a arte da autodefesa e desenvolver força mental e física. Oferecemos aulas para todos os níveis, ministradas por instrutores experientes e faixas pretas. Nossa comunidade é acolhedora e motivadora, criando um ambiente ideal para o aprimoramento das habilidades de Jiu Jitsu e o alcance de seus objetivos fitness.</p>
        <a href="https://www.instagram.com/academiarjjc/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

    </div>
  </div>
</div>
