.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 6rem;
  width: 6rem;
  margin-right: 16%;
}

.texto-nav {
  white-space: nowrap;
  font-weight: 700;
  color: whitesmoke;
}

.section {
  background-color: rgba(23, 23, 23, 0.63);
}

.navbar {
background-color:  rgba(23, 23, 23, 0.63) !important;
}

.navbar-toggler {
  background-color: #056839;
}

.linha-vertical {
  border-left: 1px solid;
  color: whitesmoke;
  height: 1rem;
}

.textButton-menor {
  background:none;
  border:none;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.textButton-menor:hover{
  color: #056839;
}
