<section class="section">
  <nav class="navbar navbar-expand-lg">
    <div class="container col-md-12">
      <ul class="navbar-nav col-md-4">
        <img class="logo" src="/assets/img/logo-sem-fundo.png" href="/home" alt="logo">
      </ul>
      <div class="collapse navbar-collapse col-md-4" id="navbarNav">
        <ul class="navbar-nav">
          <a class="nav-link texto-nav" href="#">Quem sou eu?</a>
          <a class="nav-link texto-nav" href="#">Calcula Nutri!</a>
          <a class="nav-link texto-nav" href="#">Método Caio Custódio</a>
          <a class="nav-link texto-nav" target="_blank" href="https://www.instagram.com/caiocustodiomoreira">Instagram</a>
          <a class="nav-link texto-nav" href="#">Blog</a>
          <a class="nav-link texto-nav" [routerLink]="['/contatos']">Contato</a>
        </ul>
      </div>
    </div>
  </nav>
</section>
