.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 6rem;
  width: 6rem;
}

.texto-nav{
  white-space: nowrap;
  font-weight: 700;
  color: whitesmoke;
}

.section {
  background-color: rgba(23, 23, 23, 0.63);
}
