.container{
  display: flex;
}

/*.section {*/
/*  !*background-color: rgb(23,23,23);*!*/
/*}*/

.perfil {
  max-width:100%;
  height:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.botao-mid {
  width: fit-content;
  text-color: black;
  background: #E5B244;
  border-radius: 8px;
  padding: 10px 45px;
  text-decoration: none;
  cursor: pointer;
}
