<div class="section">
  <div class="container col-md-12">
    <div class="col-md-6">
      <div class="col-md-6" [ngStyle]="{'color' : 'whitesmoke', 'font-size' : '47px', 'font-weight' : '700' , 'letter-spacing' : '0.2px'}">O SEU nutricionista!<br>
        <span [ngStyle]="{'color' : '#E5B244'}">Ajudarei no seu processo de mudança de hábitos.</span></div>
      <button class="botao-mid">Vamos melhorar esse estilo de vida!</button>
    </div>
    <div class="col-md-6">
      <div></div>
    </div>
  </div>
</div>
