<app-navbar></app-navbar>

<section class="section">
  <div class="container col-md-11">
    <div class="formulario col-md-5">
      <div [ngStyle]="{'color' : '#E5B244', 'font-size' : '25px', 'font-weight' : '700' , 'letter-spacing' : '0.2px', '-webkit-text-stroke-color' : '#000', '-webkit-text-stroke-width' : '0.5px'}"
           class="col-md-6">Nos envie suas dúvidas, sugestões, reclamações!<br>
        <span
          [ngStyle]="{'color' : '#E5B244', '-webkit-text-stroke-width' : '0.5px', '-webkit-text-stroke-color' : '#000'}">Responderemos o mais breve possível.</span>
      </div>
    </div>

    <form class="col-md-4">
      <div class="form-group">
        <label [ngStyle]="{'color' : 'white', 'font-size' : '25px', 'font-weight' : '500' , 'letter-spacing' : '0.2px', '-webkit-text-stroke-color' : '#000'}" for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" required>
      </div>

      <div class="form-group">
        <label [ngStyle]="{'color' : 'white', 'font-size' : '25px', 'font-weight' : '500' , 'letter-spacing' : '0.2px', '-webkit-text-stroke-color' : '#000'}" for="observacao">Observação</label>
        <textarea class="form-control" rows="3" name="observacao" id="observacao"></textarea>
      </div>

      <input type="submit" class="btn btn-primary mt-4" value="Salvar">
      <a [ngStyle]="{'margin-left' : '1rem'}" href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>

    </form>

  </div>
</section>
<app-footer></app-footer>
