<app-navbar></app-navbar>

<section class="section">
  <div class="container">
    <div class="formulario col-md-12">
      <div [ngStyle]="{'color' : '#E5B244', 'font-size' : '25px', 'font-weight' : '700' , 'letter-spacing' : '0.2px', '-webkit-text-stroke-color' : '#000', '-webkit-text-stroke-width' : '0.5px'}"
           class="col-md-6">Contato pra consulta. Me envie suas dúvidas, sugestões, reclamações ou qualquer dúvida que tiver!<br>
        <span
          [ngStyle]="{'color' : '#E5B244', '-webkit-text-stroke-width' : '0.5px', '-webkit-text-stroke-color' : '#000'}">Responderei o mais breve possível.</span>
        <div class="widget no-box">
          <h2 [ngStyle]="{'color' : 'whitesmoke', '-webkit-text-stroke-width' : '0.5px', '-webkit-text-stroke-color' : '#000'}" class="widget-title h2">Contato direto no Whatapp<span></span></h2>
          <a class="btn textButton" href="https://api.whatsapp.com/send?1=pt_BR&phone=5521981484971" target="_blank">Clique Aqui!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
