.container {
  background-color: #E5B244;
}

.section {
  background-color: #E5B244;
}

.colunaUm {
  margin-top: 2%;
}

.colunaDois {
  margin-top: 2%;
}

.colunaTres {
  margin-top: 2%;
}

.colunaQuatro {
  margin-top: 2%;
}

.lista-li {
  list-style: none;
  text-decoration-line: none;
}

.btn {
  background-color: #02C955;
}

.ul-list {
  padding-left: 0;
}

.social-footer2 {
  padding: 0;
}

.texto-nav{
  white-space: nowrap;
  font-weight: 700;
  color: #171717;
  text-decoration: none;
}

.redes-sociais .ul {
  display: flex;
  flex-direction: row;
}

.logo-parceiro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 50%;
  height:auto;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: break-spaces;
  padding: 10px;
}

.h2 {
  font-height: 700;
  font-size: 30px;
  font-weight: 700;
}

.social-footer2 {
  display: flex;
}

.textButton-menor {
  background:none;
  border:none;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.textButton-menor:hover{
  color: #056839;
}

.text-center {
  white-space: nowrap;
}
