<app-navbar></app-navbar>

<section class="section">

    <div class="container calcula-list">
      <div class="calcula-list lista">
        <ul>
          <div class="calcula-list lista">
          <li class="lista-li"><button class="btn btn-primary" type="submit">Vet Masculino</button></li>
          <li class="lista-li"><button class="btn btn-primary" type="submit">Vet Feminino</button></li>
          <li class="lista-li"><button class="btn btn-primary" type="submit">Peso Alt Joelho</button></li>
          <li class="lista-li"><button class="btn btn-primary" type="submit">Regra de 3</button></li>
          <li class="lista-li"><button class="btn btn-primary" type="submit">IMC</button></li>
          </div>
        </ul>
      </div>
    </div>

</section>
<app-footer></app-footer>
