<div id="parceiros" class="section">
  <div class="container col-md-12">
    <h3 class="h3">Parceiros:</h3>
    <div class="container-fluid">
      <div class="logo-parceiro col-lg-3">
        <img [ngStyle]="{ 'margin-left' : '0'}" class="logo-parceiro" src="assets/img/logo-corte-e.jpg" alt="corte" style="margin-left: 100px;">
        <h2 [ngStyle]="{'white-space' : 'nowrap'}" class="h2">
          Corte e Resenha
        </h2>
        <p class="p">Nossa barbearia oferece serviços de corte de cabelo e barba com estilo e precisão Clique em "Saiba mais" e vá conhecer nosso espaço.</p>
        <a href="https://www.instagram.com/corteeresenha/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

      <div class="logo-parceiro col-lg-3">
        <img class="logo-parceiro" src="assets/img/logo-catete.png" alt="catete agora">
        <h2 class="h2">
          Catete Agora
        </h2>
        <p class="p">O maior e melhor portal de notícias e variedades da Zona Sul do Rio de Janeiro. Divulgue com eles</p>
        <a href="https://www.instagram.com/cateteagora/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

      <div class="logo-parceiro col-lg-3">
        <img class="logo-parceiro" src="assets/img/logo-rjjc-e.jpg" alt="rjjc">
        <h2 class="h2">
          Jiu-Jutsu Clube
        </h2>
        <p class="p">Bem-vindo à nossa academia de Jiu Jitsu, onde você pode aprender a arte da autodefesa e desenvolver força mental e física.</p>
        <a href="https://www.instagram.com/academiarjjc/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

      <div class="logo-parceiro col-lg-3">
        <img class="logo-parceiro" src="assets/img/logo-mara-e.png" alt="mara">
        <h2 class="h2">
          Estéticas Mara
        </h2>
        <p class="p">Na clínica de estética Mara, elas oferecemo uma variedade de tratamentos personalizados para realçar sua beleza natural.</p>
        <a href="https://www.instagram.com/esteticasmara/" target="_blank" type="button" class="btn btn-secondary botao-mid">Saiba Mais!</a>
      </div>

    </div>
  </div>
</div>
