<section class="section">
  <nav class="navbar navbar-expand-lg">
    <div class="container col-md-12">
      <ul class="navbar-nav col-md-2">
        <img class="logo" src="/assets/img/logo-sem-fundo.png" href="/home" alt="logo">
      </ul>
      <div class="collapse navbar-collapse col-md-4" id="navbarNav">
        <ul class="navbar-nav">
          <button class="nav-link texto-nav" href="#">Sobre meu atendimento</button>
          <button class="nav-link texto-nav" href="#">Calcula Nutri!</button>
          <button class="nav-link texto-nav" href="#">Instagram</button>
          <button class="nav-link texto-nav" href="#">Contato</button>
        </ul>
      </div>
      <div class="collapse navbar-collapse col-md-3">
        <ul class="navbar-nav">
          <a class="navbar-brand">BUSCA</a>
          <input class="text">
        </ul>
      </div>
    </div>
  </nav>
</section>
