<nav class="navbar navbar-expand-lg">
  <div class="container col-md-12">
    <ul class="navbar-nav col-md-4">
      <img class="logo" src="/assets/img/logo-400.jpeg" href="/home" alt="logo">
    </ul>
    <div class="collapse navbar-collapse col-md-4" id="navbarNav">
      <ul class="navbar-nav">
          <button class="nav-link" href="#">HOME</button>
          <button class="nav-link" href="#">CALCULA NUTRI</button>
          <button class="nav-link" href="#">CONTATO</button>
      </ul>
    </div>
    <div class="collapse navbar-collapse col-md-4">
      <ul class="navbar-nav">
        <a class="navbar-brand">BUSCA</a>
        <input class="text">
      </ul>
    </div>
  </div>
</nav>
