<section class="section">
<app-navbar></app-navbar>
<div class="img-fundo-opacity">
  <div class="container col-md-12">
    <div class="col-md-12">
      <h1 class="h1 col-md-6">Caio Custódio</h1>
      <h2 class="h2 col-md-6">Nutricionista Clínico e Esportivo</h2>
    </div>
      <div class="col-md-5">
        <div class="texto-container">
          <span class="texto">Me chamo Caio Custódio, sou nutricionista e analisa de sistemas, tendo alcançado diversos resultados positivos com meus pacientes.</span> <br><br>
          <span class="texto">Sou carioca da gema, nascido e cria na Zona Sul do Rio. Me formei em nutrição pelo Centro Universitário Celso Lisboa, em 2018.</span><br><br>
          <span class="texto">Ao longo da minha carreira atendi mais de 200 pessoas que buscam emagrecimento, hipertrofia e, principalmente, saúde.</span><br><br>
          <span class="texto">Observando a rotina e as dificuldades dos meus pacientes, desenvolvi um método de trabalho próprio, onde aplico flexibilidade alimentar prazer em comer e, como consequência, resultados expressivos.</span>
          <span class="texto">Atendimento humanizado, extremamente particular e personalizado.</span>
        </div>
      </div>
      <div class="col-md-5"></div>
  </div>
</div>
</section>
<app-footer></app-footer>
