<section class="section">
  <nav class="navbar navbar-expand-lg">
    <div class="container col-md-12">
      <ul class="navbar-nav col-md-4">
        <img class="logo" src="/assets/img/logo-sem-fundo.png" href="/home" alt="logo">
      </ul>
      <div class="collapse navbar-collapse col-md-4" id="navbarNav">
        <ul class="navbar-nav">
          <button class="nav-link texto-nav" href="#">Quem sou eu?</button>
          <button class="nav-link texto-nav" href="#">Calcula Nutri!</button>
          <button class="nav-link texto-nav" href="#">Método Caio Custódio</button>
          <a class="nav-link texto-nav" target="_blank" href="https://www.instagram.com/caiocustodiomoreira">Instagram</a>
          <button class="nav-link texto-nav" href="#">Blog</button>
          <button class="nav-link texto-nav" href="#">Contato</button>
        </ul>
      </div>
    </div>
  </nav>
</section>

<!--[ngStyle]="{'color' : '#E5B244', '-webkit-text-stroke-width' : '0.2px', '-webkit-text-stroke-color' : '#000'}"-->
