.container{
  background-color: rgb(23,23,23);
}

.section {
  background-color: rgb(23,23,23);
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 6rem;
  width: 6rem;
}

.texto-nav{
  white-space: nowrap;
  font-weight: 700;
}

.conteudo {
  display: flex;
}

.perfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 50%;
  height:auto;
  border-radius: 50%;
}

.p-resultado {
  color: #E5B244;
}

.carousel-item {
  margin-left: 350px;
  margin-bottom: 50px;
  margin-top: 60px;
  width: 48%;
}

.h5 {
  color: #FEFEFE;
}

.product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.carousel-item {
  margin-left: 33px;
  margin-bottom: 50px;
  margin-top: 60px;
  width: 83%;
}

.h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  color: #FEFEFE;
  margin-left: 1%;
  padding-top: 1%;
}
