<div class="section">
  <div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <h2 class="h2">Alguns Resultados:</h2>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="9" aria-label="Slide 10"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5 class="h5">Nário</h5>
          <p class="p-resultado">Hipertrofia e ganho de peso</p>
          <p class="p-resultado">Resultado em 1 mês</p>
          <img src="../../../assets/img/nario.png" class="d-block w-100" alt="nario">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Michel</h5>
          <p class="p-resultado">Redução de meditas</p>
          <p class="p-resultado">Resultado em 2 meses</p>
          <img src="../../../assets/img/michel.jpg" class="d-block w-100" alt="michel">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Juliana</h5>
          <p class="p-resultado">Hipertrofia</p>
          <p class="p-resultado">Resultado em 3 meses</p>
          <img src="../../../assets/img/juliana.jpg" class="d-block w-100" alt="juliana">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Márcia</h5>
          <p class="p-resultado">Emagrescimento e melhora das taxas metabólicas (Pensou em fazer cirurgia bariátrica)</p>
          <p class="p-resultado">Resultado em 6 meses</p>
          <img src="../../../assets/img/mae.png" class="d-block w-100" alt="mae">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Julia</h5>
          <p class="p-resultado">Emagrescimento para engravidar</p>
          <p class="p-resultado">Resultado em 6 meses</p>
          <img src="../../../assets/img/julia.png" class="d-block w-100" alt="julia">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Stefane</h5>
          <p class="p-resultado">Emagrescimento</p>
          <p class="p-resultado">Resultado em 1 ano</p>
          <img src="../../../assets/img/stef-01.png" class="d-block w-100" alt="stefane">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Caio</h5>
          <p class="p-resultado">Mudança na composição corporal</p>
          <p class="p-resultado">Resultado em 3 anos</p>
          <img src="../../../assets/img/caio-2.png" class="d-block w-100" alt="caio">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Stefane</h5>
          <p class="p-resultado">Emagrescimento</p>
          <p class="p-resultado">Resultado em 4 anos</p>
          <img src="../../../assets/img/stef-02.jpg" class="d-block w-100" alt="stefane-2">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Stefane</h5>
          <p class="p-resultado">Emagrescimento</p>
          <p class="p-resultado">Resultado em 5 anos</p>
          <img src="../../../assets/img/stef-05.png" class="d-block w-100" alt="stefane-5">
        </div>
        <div class="carousel-item">
          <h5 class="h5">Caio</h5>
          <p class="p-resultado">Mudança na composição corporal</p>
          <p class="p-resultado">Resultado em 5 anos</p>
          <img src="../../../assets/img/caio.png" class="d-block w-100" alt="caio">
        </div>
      </div>
    </div>

  </div>
</div>
