<div id="metodo" class="section">
  <div class="container">
    <div class="row">
      <h2 class="h2" [ngStyle]="{'color' : '#FEFEFE', '-webkit-text-stroke-width' : '0.5px', '-webkit-text-stroke-color' : '#000'}">Método Caio Custódio</h2>
        <div class="col-lg-4 bg-metodo">
          <h3>PLANO 100% PERSONALIZADO E MUTÁVEL</h3>
          <svg class="logo-sgv" width="40px" height="40px" margin="auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 13L12 16M12 16L15 13M12 16V8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          <p>Quer hipertrofia? Ou quer emagrecer? Seja qual for seu objetivo, existe uma estratégia personalizada para
            você, considerando cada particularidade da sua rotina e suas preferências. Que será ou não atualizado, de acordo com suas demandas.</p>
        </div>
        <div class="col-lg-4 bg-metodo">
          <h3>SEM RESTRIÇÕES ABSURDAS E NEM DIETAS MALUCAS</h3>
          <svg class="logo-sgv" width="40px" height="40px" margin="auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 13L12 16M12 16L15 13M12 16V8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          <p>O objetivo é garantir o cumprimento da dieta de maneira simples, prática e dentro da realidade de cada um.
            Ama chocolate? Não vou te privar desse prazer. Odeia brócolis? Existe uma enorme variedade de vegetais que
            você pode comer. </p>
        </div>

        <div class="col-lg-4 bg-metodo">
          <h3>ADEQUADO AO ESTILO DE VIDA DO PACIENTE</h3>
          <svg class="logo-sgv" width="40px" height="40px" margin="auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 13L12 16M12 16L15 13M12 16V8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          <p>Dietas funcionais são aquelas que são capazes de serem realizadas, respeitando não apenas o paladar do
            paciente, mas também o estilo de vida deles.</p>
        </div>

        <div class="col-lg-4 bg-metodo">
          <h3>ACOMPANHAMENTO DURANTE SEU PROCESSO</h3>
          <svg class="logo-sgv" width="40px" height="40px" margin="auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 13L12 16M12 16L15 13M12 16V8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          <p>Estarei disponível para você durante o processo, não é só aquela consulta básica, que entrega o plano e tchau? Tem dúvida? Me chame no WhatsApp e vamos resolver.</p>
        </div>
    </div>
  </div>
</div>
